name: Build

on:
  push:
    branches: [main, dev]

env:
  ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION: true

jobs:
  build-linux-all:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    container:
      image: fxiangucsd/sapien-build-env:3.8
      env:
        CMAKE_BUILD_PARALLEL_LEVEL: 2
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Set up cmake cache
        uses: actions/cache@v3
        with:
          path: docker_sapien_build/_sapien_deps
          key: ${{ runner.os }}.${{ hashFiles('**/*.cmake', '**/CMakeLists.txt') }}
      - name: Build wheels
        run: "git config --global --add safe.directory '*' && ./scripts/build.sh"
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: linux-wheels-all
          path: ./wheelhouse/*.whl

  release:
    runs-on: ubuntu-latest
    needs: [build-linux-all]
    permissions:
      contents: write
    steps:
      - name: Download wheels
        uses: actions/download-artifact@v4
        with:
          name: linux-wheels-all
          path: wheelhouse
      - name: ls
        run: ls wheelhouse
      - name: Update Nightly Release
        uses: andelf/nightly-release@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: nightly
          name: "Nightly Release"
          prerelease: true
          body: "SAPIEN development nightly release. This release is mainly for internal testing. Stable releases are published to pypi https://pypi.org/project/sapien/"
          files: |
            ./wheelhouse/*.whl
